// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// Start's here
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap');

// Variables & Mix-in's

@darkGray: #555;
@headerFont: 'Josefin Sans', sans-serif;
@textFont: 'Raleway', sans-serif;

.flexWrap(){
	display: flex;
	flex-wrap: wrap;
};

.secondHeader(){
	font-size: 3rem;
	font-family: @headerFont;
	font-weight: bold;
};

// General
html{
	font-size: 62.5%;
}
.container{
	width: 90rem;
	margin: 0 auto;

	@media (max-width: 500px){
		width: 450px;
	}
}

a {
	text-decoration: none;
}

// Header

header {

	// border: 2px solid red;
	.flexWrap();
	
	// Navigation
	.nav-container{
		// border: 2px solid blue;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		font-size: 1.6rem;

		nav{
			// border: 2px solid green;
			display: flex;
			justify-content: space-between;
			padding: 1.5rem 0;
			width: 30%;
			font-weight: bold;

			@media (max-width: 500px){
				width: 100%;
			}

			a{
				color: black;
			}
		}

	}

	.showcase{

		// border: 2px solid red;
		width: 100%;
		padding: 4rem 2rem;
		background: #E9ECEF;

		.image-container{
			width: 35%;
			margin-bottom: 1rem;

			img{
				max-width: 100%;
			}

		}

		.headline{
			// border: 2px solid green;
			
			h1{
				font-size: 5rem;
				font-family: @headerFont;

				@media (max-width: 500px){
					font-size: 3rem;
				}
			}

			.headline-text{
				font-size: 2.5rem;
				margin: 1.5rem 0;
				font-family: @textFont;
			}

			p{
				font-size: 2rem;
				margin: 1.5rem 0;
				font-family: @textFont;
			}

			a{
				display: inline-block;
				margin: 1.5rem 0;
				padding: 1.5rem;
				border-radius: .8rem;
				font-size: 1.6rem;
				color: white;
				background-color: @darkGray;
				font-weight: bold;

				&:hover{
					background-color: #0077B5;
				}
			}

		}

	}
}

.skills{
	// border: 2px solid red;
	.flexWrap();
	justify-content: space-between;
	margin-top: 2rem;

	.box-top{
		width: 45%;
		
		h2{
			.secondHeader();
			margin-bottom: 1rem;

			@media (max-width: 500px){
				font-size: 2rem;
			}
		}
	}
	
	.about{

		p{
			font-size: 1.8rem;
			line-height: 1.3;
			font-family: @textFont;
		}

	}

	.skills-list{
		
		ul{
			border: 2px solid lightgray;

			li{
				font-size: 1.6rem;
				font-family: @textFont;
				border-bottom: .2rem solid lightgray;
				padding: 1rem;
				font-weight: bold; 

				&:last-child{
					border-bottom: none;
				}
			}

		}

	}

	.work-history{
		margin-top: 3rem;
		width: 100%;
		margin-bottom: 4rem;

		h2{
			.secondHeader();

			@media (max-width: 500px){
				font-size: 2rem;
			}
		}

		table{
			border-top: 2px solid lightgrey;
			border-bottom: 2px solid lightgray;
			font-size: 2rem;
			font-family: @textFont;
			width: 100%;
			text-align: left;

			@media (max-width: 500px){
				font-size: 1.5rem;
			}

			tr{
				border-top: 2px solid lightgray;
				border-bottom: 2px solid lightgray;
				th, td{
					font-weight: bold;
					padding: .8rem;
				}

				&:nth-child(even){
					background-color: #dddddd;
				}
			}

		}
	}
}

footer{
	p{
		text-align: center;
		font-size: 2rem;
		font-weight: bold;
		padding: 3rem;
		background: gray;
		color: white;

		@media (max-width: 500px){
			font-size: 1.5rem;
		}

	}
}

